<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="css/output.css" />
	<link type="image/png" rel="icon" href="icon.png" />
	<title><%= title %></title>
	<script src="js/modal.js"></script>
	<script src="js/handleMovie.js"></script>
</head>
