<nav class="w-full h-[50px] flex-center text-[20px] font-bold text-white">
	<ul class="flex-center gap-[40px]">
		<li class="hover:text-[#00a1b1]"><a href="/">Movies</a></li>
		<li class="hover:text-[#00a1b1]"><a href="/series">Series</a></li>
	</ul>
</nav>
