<nav
	class="w-full fixed h-[50px] flex-center text-[20px] font-bold bg-transparent"
>
	<ul class="flex-center gap-[40px]">
		<li class="hover:text-primary <%= active === 0 ? "text-primary" : "text-white"  %>"><a href="/">Movies</a></li>
		<button
			type="button"
			onclick="openModal()"
			class="w-[35px] h-[35px] flex-center text-white hover:text-[#00a1b1]"
		>
			<i class="fa-solid fa-circle-plus text-[30px]"></i>
		</button>
		<li class="hover:text-primary <%= active === 1 ? "text-primary" : "text-white"  %>"><a href="/series">Series</a></li>
	</ul>
</nav>
