<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head', {title: "Movies"}) %>
	<body>
		<%- include('./partials/navbar') %>
		<main class="w-screen h-screen overflow-hidden grad pt-[50px]">
			<%- include('./partials/list', {data: movies}) %>
		</main>
		<%- include("./partials/modal") %>
	</body>
</html>
