@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center {
	@apply flex
  justify-center
  items-center;
}

.grad {
	background: linear-gradient(45deg, rgba(0, 0, 0, 1) 15%, #00a1b1 100%);
}

::-webkit-scrollbar {
	width: 12px;
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	background-color: #222;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #fff;
}
::-webkit-scrollbar-button {
	height: 5px;
}

.t-input {
	@apply flex-center bg-[#222] text-[#00a1b1] px-[10px] py-[5px] text-[18px] outline-none rounded-[20px] ;
}

.btn {
	@apply flex-center w-[100px] h-[30px] bg-[#0a0a0a] border-2 border-[#222] rounded-[20px] hover:text-[#00a1b1];
}
